
/* Es un comentario*/

body{
    background-color: peru;
}

p{
    color: blue;
}

h2{ 
    background: violet;
    font-size: 50px;

}
h3{ 
    background:cornflowerblue;
    font-size: 50px;

}
h4{ 
    background:green;
    font-size: 50px;

}

h5{
    
}

