/*
font-family: "Montserrat", sans-serif;
font-family: "Fraunces", serif;
*/
body{
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

main{
    border: 1px solid red;
    display: flex;
    justify-content:center;
    min-height: 450px;
    padding: 15px;
    
    
    
}

.foto{
    width: 350px;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    
}
.contenidos{
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    padding: 28px;
}

.contenidos h2{
    color: hsl(158, 36%, 37%);
    font-size: 14px;
    margin: 0px;
    font-weight: 500;
    letter-spacing: 7px;
    text-transform: uppercase;

}

.contenidos h1{
    color: hsl(158, 42%, 18%);
    font-family: "Fraunces", serif;
    font-size: 40px;
    line-height: 7px;

}

